<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<div>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>LinkUser</th>
        <th>DeleteUser</th>
        <td>UpdateUser</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${user}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td><a th:href="@{/read/{id}(id=${user.getId()})}" th:text="${user.getName()}">user</a></td>
        <td>
            <form th:method="POST" th:action="@{/read/delete/{id}(id=${user.id})}">
            <input type="submit" value="Delete!"/>
            </form>
        </td>
        <td>
            <form th:method="GET" th:action="@{/read/edit/{id}(id=${user.id})}">
                <input type="submit" value="Update!"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</div>

<div>
    <br/>
    <h3>Create new user</h3>
</div>
<div>
    <form th:method="GET" th:action="@{/read/new}">
        <input type="submit" value="Create!"/>
    </form>
</div>

</body>
</html>