<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST"  th:action="@{/read/{id}(id=${user.getId})}" th:object="${user}">
    <p>User ID =  <span th:text="${user.id}">мир</span></p>
    <label  for="name">Enter name: </label>
    <input type="text" th:field="*{name}"  id="name">
    <br/>
    <label  for="age">Enter age: </label>
    <input type="text" th:field="*{age}"  id="age">
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>